<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <script>
    // Partner page accordion
    function toggleAccordion(elem) {
      for(i = 0; i < document.getElementsByClassName('accordion-row-container').length; i++) {
        if(document.getElementsByClassName('accordion-row-container')[i] == elem.parentElement && !elem.parentElement.classList.contains('focus')) {
          elem.parentElement.classList.add('focus');
          window.scrollTo(0, elem.getBoundingClientRect().top - document.body.getBoundingClientRect().top - document.getElementsByClassName('site-header')[0].offsetHeight - 10);
        } else {
          document.getElementsByClassName('accordion-row-container')[i].classList.remove('focus');
        }
      }
    }
  </script>
</head>
